@page "/"
@using FrontEnd.Data
@inject WeatherForecastClient ForecastClient

<PageTitle>Resume Analyzer</PageTitle>

<div id="input" style="display: block;">
    <h1>Enter your resume</h1>
    <p>Please enter your information:</p>
    <table class="table">
        <tbody>
            <tr>
                <td style="width: 20%;">Name: </td>
                <td style="width: 60%px;">
                    <input id="name" asp-for="name" style="width: 100%;" />
                    <span asp-validation-for="name"></span>
                </td>
            </tr>
            <tr>
                <td>Skills: </td>
                <td>
                    <textarea id="skills" asp-for="skills" style="height: 50px; min-height: 50px; width: 100%;"></textarea>
                    <span asp-validation-for="skills"></span>
                </td>
            </tr>
            <tr>
                <td>Experience: </td>
                <td>
                    <textarea id="experience" asp-for="experience" style="height: 100px; min-height: 100px; width: 100%;"></textarea>
                    <span asp-validation-for="experience"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <button id="submit_button" type="button" onclick="analyze()" class="button submit_button">Submit</button>
</div>

<div id="submission" style="display: none;">
    <h1>Provided information: </h1>
    <table class="table">
        <tbody>
            <tr>
                <td style="width: 20%;">Name: </td>
                <td style="width: 60%px;">
                    <input id="subName" asp-for="name" style="width: 100%;" readonly/>
                </td>
            </tr>
            <tr>
                <td>Skills: </td>
                <td>
                    <textarea id="subSkills" asp-for="skills" style="height: 50px; min-height: 50px; width: 100%;" readonly></textarea>
                </td>
            </tr>
            <tr>
                <td>Experience: </td>
                <td>
                    <textarea id="subExp" asp-for="experience" style="height: 100px; min-height: 100px; width: 100%;" readonly></textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <p>See something wrong?</p>
    <button id="submit_button" type="button" onclick="editSubmission()" class="button submit_button">Edit information</button>
</div>


<script language="JavaScript" type="text/javascript">
    function analyze(){
        var name = document.getElementById("name").value;
        var skills = document.getElementById("skills").value;
        var experience = document.getElementById("experience").value;
        document.getElementById("subName").value = name;
        document.getElementById("subSkills").value = skills;
        document.getElementById("subExp").value = experience;
        document.getElementById("input").style.display = "none";
        document.getElementById("submission").style.display = "block";
    }
    function editSubmission(){
        document.getElementById("submission").style.display = "none";
        document.getElementById("input").style.display = "block";
    }
</script>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastClient.GetForecastAsync(DateTime.Now);
    }
}

<style>
    .submit_button {
    transition-duration: 0.4s;
    border-radius: 5px;
    border-color: transparent;
    background-color: #04AA6D; /* Green */
    color: white;
    }

    .submit_button:hover {
    background-color: #028051; /* Green */
    color: white;
    }
</style>
